<ion-view view-title="Locations">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="">
        <h2>{{weather.name}}</h2>
        <p ng-repeat="item in weather.weather">
        	{{item.description}}<br/>
        	{{item.main}}
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>